@media screen and (min-width: 800px){
	/*NAV*/
	.nav .menu{
		display: none;
	}
	.navbar{
		width: initial;
		position: initial;
		display: flex;
		justify-content: space-between;
		padding: 0;
		background-color: transparent;
		border: none;
		margin-right: 3rem;
	}
	.navbar li{
		width: initial;
		padding: 1rem;
	}
	.navbar li a{
		padding: 0;
		border: none;
		font-size: .9rem;
	}
	.navbar li a:hover{
		color: black;
		text-decoration: underline;
	}
	/*HEADER*/
	.header .h1{
		font-size: 2.2rem;
	}
	.header .p{
		font-size: 1.03rem;
	}
	
	/*SECCION DE INFORMACION*/
	/*Quienes somos*/
	.quienes-somos{
		height: 80vh;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 8rem;
	}
	.quienes-somos .div{
		margin-left: 15%;
	}
	.quienes-somos .p{
		text-align: left;
	}
	.quienes-somos .img{
		display: block;
	}
	.img img{
		width: 8rem;
		box-shadow: 5px 5px 15px rgb(149, 119, 60);
	}
	/*mision y vision*/
	.mision-vision{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.mision-vision .mision{
		justify-content: initial;
	}
	.mision-vision .p{
		width: 68%;
	}
	/*SECCION DE BENEFICIOS*/
	.beneficios{
		background-position: bottom 100% center;
		height: 80vh;
	}
	.div-beneficio{
		padding-top: 1rem;
		width: 80%;
		z-index: 5;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: .1rem;
	}
	.beneficios .p{
		width: 70%;
		padding-top: 1rem;
	}
	/*FORMULARIO Y SLIDER*/
	/*formulario*/
	.form div{
		width: 50%;
	}
	.form div:nth-child(even){
		float: right;
	}
	.form div:nth-child(odd){
		float: left;
	}
	.form label{
		display: block;
		margin-top: .25rem;
	}
	.form input{
		width: 70%;
		margin-left: 8%;
	}
	.form textarea{
		width: 80%;
		margin-left: 4%;
	}
	/*slider*/
	.formularioSlider{
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 0;
	}
	.formularioSlider .div{
		width: 50%;
	}
	.formularioSlider .h1{
		font-size: 2rem;
	}
	.formularioSlider .p{
		width: 90%;
		font-size: .9rem;
		margin: auto;
	}
	.container-slider{
		display: block;
		overflow: hidden;
		position: relative;
		height: 80vh;
	}
	.slider {
		display: flex;
		width: 300%;
		height: 80vh;
		margin-left: -100%;
		position: absolute;
	}
	.slider__section {
		width: 100%;
	}
	.slider__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: 100%;
	}
	/*FOOTER*/
	.footer{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 5rem;
	}
	.footerAbaud{
		width: 100%;
	}
	.fooCon{
		display: block;
		margin-right: 10%;
		text-align: left;
		width: initial;
	}
	.footer .input{
		width: 47%;
		padding: .3rem .5%;
		display: inline-block;
		font-size: .8rem;
		margin-bottom: 1rem;
	}
	.footer .input:nth-child(1){
		float: left;
	}
	.footer .input:nth-child(2){
		float: right;
	}
	.footer .textarea{
		clear: both;
		width: 88.6%;
		display: block;
		padding: .5rem 1rem;
	}
	.footer button{
		padding: .4rem 1.1rem;
	}
}
@media screen and (min-width: 1100px){
	/*NAV*/
	.navbar li a{
		font-size: 1rem;
	}
	.navbar li a:hover{
		font-size: 1rem;
	}
	/*HEADER*/
	.header .h1{
		font-size: 3.5rem;
	}
	.header .p{
		font-size: 1.4rem;
	}
	.header .a{
		font-size: 1.1rem;
	}
	/*Quienes somos*/
	.quienes-somos .h1{
		font-size: 2.3rem;
	}
	.quienes-somos .p{
		text-align: left;
		font-size: 1rem;
	}
	.img img{
		width: 12rem;
	}
	/*mision y vision*/
	.mision-vision .h1{
		font-size: 2.1rem;
	}
	/*SECCION DE BENEFICIOS*/
	.beneficios .h1{
		font-size: 2.1rem;
	}
	.beneficios .p{
		padding-top: 2rem;
		font-size: 1.1rem;
	}
	.div-beneficio{
		padding-top: 2rem;
		width: 60%;
	}
	.div-beneficio .img{
		z-index: 5;
		width: 2.2rem;
	}
	.beneficios .h3{
		font-size: 1rem;
	}
}
@media screen and (min-width: 1440px){
	/*NAV*/
	.navbar li a{
		font-size: 1.1rem;
	}
	.navbar li a:hover{
		font-size: 1.1rem;
	}
	.nav .logo{
		width: 4.2rem;
		border-radius: 50%;
	}
	/*HEADER*/
	.header .a{
		font-size: 1.3rem;
	}
	/*Quienes somos*/
	.quienes-somos .h1{
		font-size: 2.4rem;
	}
	.quienes-somos .p{
		text-align: left;
		font-size: 1.1rem;
	}
	/*mision y vision*/
	.mision-vision .h1{
		font-size: 2.25rem;
	}
	/*SECCION DE BENEFICIOS*/
	.beneficios .h1{
		font-size: 2.5rem;
	}
	.beneficios .p{
		padding-top: 2.5rem;
		font-size: 1.25rem;
	}
	.div-beneficio{
		padding-top: 2.5rem;
	}
	.div-beneficio .img{
		width: 2.3rem;
	}
	.beneficios .h3{
		font-size: 1.1rem;
	}
	/*FORMULARIO Y SLIDER*/
	/*formulario*/
	.form label{
		margin-top: .5rem;
	}
	.form textarea{
		width: 80%;
		margin-left: 4%;
	}
	/*slider*/
	.formularioSlider .h1{
		font-size: 2.4rem;
	}
	.formularioSlider .p{
		width: 70%;
		font-size: 1.1rem;
		margin: auto;
	}
	.form button{
		font-size: .85rem;
		margin-right: 3rem;
	}
	/*FOOTER*/
	.footer{
		grid-gap: 2rem;
	}
	.footer .input{
		font-size: .9rem;
		margin-bottom: 1.5rem;
	}
	.footer .textarea{
		font-size: .9rem;
	}
	.footer button{
		font-size: .7rem;
	}
	.footer .h1{
		font-size: 2rem;
	}
	.footer img{
		width: 1.7rem;
		margin-right: .6rem;
	}
	.footer .a{
		font-size: 1.1rem;
	}
}
@media screen and (min-width: 1900px){
	/*NAV*/
	.navbar li a{
		font-size: 1.2rem;
	}
	.navbar li a:hover{
		font-size: 1.2rem;
	}
	.nav .logo{
		width: 4.5rem;
		border-radius: 50%;
	}
	/*HEADER*/
	.header .h1{
		font-size: 3.7rem;
	}
	.header .p{
		font-size: 1.5rem;
	}
	.header .a{
		font-size: 1.4rem;
	}
	/*Quienes somos*/
	.quienes-somos .h1{
		font-size: 2.5rem;
	}
	.quienes-somos .p{
		text-align: left;
		font-size: 1.4rem;
	}
	.img img{
		width: 14rem;
	}
	/*mision y vision*/
	.mision-vision .h1{
		font-size: 2.3rem;
	}
	.mision-vision .p{
		font-size: 1.3rem;
	}
	.mision-vision .img{
		width: 2.5rem;
	}
	/*SECCION DE BENEFICIOS*/
	.beneficios .h1{
		font-size: 2.8rem;
	}
	.beneficios .p{
		padding-top: 3rem;
		font-size: 1.45rem;
	}
	.div-beneficio{
		padding-top: 3rem;
	}
	.div-beneficio .img{
		width: 2.8rem;
	}
	.beneficios .h3{
		font-size: 1.2rem;
	}
	/*FORMULARIO Y SLIDER*/
	/*formulario*/
	.form label{
		margin-top: .5rem;
		font-size: 1.2rem;
	}
	.form textarea{
		width: 80%;
		margin-left: 4%;
	}
	/*slider*/
	.formularioSlider .h1{
		font-size: 2.5rem;
	}
	.formularioSlider .p{
		font-size: 1.2rem;
	}
	.form button{
		font-size: .9rem;
		margin-top: 2rem;
		margin-right: 4rem;
	}
	/*FOOTER*/
	.footer .input{
		font-size: .9rem;
		margin-bottom: 1.5rem;
	}
	.footer .textarea{
		font-size: .95rem;
	}
	.footer button{
		font-size: .75rem;
	}
	.footer .h1{
		font-size: 2.3rem;
	}
	.footer img{
		width: 1.9rem;
		margin-right: .6rem;
	}
	.footer .a{
		font-size: 1.2rem;
	}
	.copyrai h4{
		font-size: 1rem;
	}
}